In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("enjoysport.csv")
df

     sky airtemp humidity    wind water forcast enjoysport
0  sunny    warm   normal  strong  warm    same        yes
1  sunny    warm     high  strong  warm    same        yes
2  rainy    cold     high  strong  warm  change         no
3  sunny    warm     high  strong  cool  change        yes

In [19]:
distinct_instances = 1
columns = df.columns[:-1]
for col in columns:
    distinct_instances *= len(df[col].unique())
print(distinct_instances)

32