In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("iris.csv")
test_set = [7.2, 3.6, 5.1, 2.5]
k = 10
data

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [3]:
noOfInstances, noOfAttributes = data.shape
noOfAttributes -= 1
print("No. of Instances:", noOfInstances, "\nNo. of Attributes:", noOfAttributes)

No. of Instances: 150
No. of Attributes: 4

In [4]:
instances = data.iloc[:, :-1]
target_values = data.iloc[:, -1]
print("Instances:\n", instances)
print("Target Values:\n", target_values)

Instances:
      sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]
Target Values:
 0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [5]:
def euclideanDistance(d1, d2, l):
    distance = 0
    for i in range(l):
        distance += (d1[i]-d2[i])**2
    return distance

### KNN Code

In [6]:
distances = []
length = len(test_set)
for i in range(noOfInstances):
    distances.append(euclideanDistance(instances.loc[i], test_set, length))

# distances
distKeys = list(enumerate(distances))
distKeys.sort(key=lambda x: x[1])

distKeys

[(141, 0.38),
 (139, 0.5900000000000003),
 (120, 0.6500000000000006),
 (145, 0.6600000000000003),
 (144, 0.7000000000000008),
 (140, 0.76),
 (112, 0.8400000000000005),
 (124, 0.8600000000000008),
 (115, 0.8799999999999997),
 (110, 0.9000000000000001),
 (109, 1.0),
 (143, 1.0000000000000013),
 (147, 1.1100000000000003),
 (136, 1.1100000000000005),
 (148, 1.1700000000000006),
 (102, 1.1700000000000013),
 (77, 1.2600000000000002),
 (52, 1.3799999999999997),
 (104, 1.4300000000000004),
 (125, 1.4600000000000004),
 (116, 1.5000000000000007),
 (137, 1.54),
 (50, 1.5699999999999998),
 (132, 1.62),
 (135, 1.6500000000000001),
 (86, 1.6599999999999997),
 (129, 1.6600000000000001),
 (128, 1.6900000000000002),
 (100, 1.7100000000000013),
 (111, 1.8499999999999996),
 (56, 1.8700000000000003),
 (103, 2.040000000000001),
 (130, 2.040000000000001),
 (76, 2.1000000000000005),
 (127, 2.100000000000001),
 (123, 2.1500000000000004),
 (51, 2.1599999999999993),
 (65, 2.1999999999999993),
 (126, 2.22),
 (138, 2.3800000000000003),
 (54, 2.380000000000001),
 (146, 2.3900000000000006),
 (75, 2.42),
 (70, 2.4299999999999993),
 (107, 2.4300000000000006),
 (108, 2.4400000000000004),
 (133, 2.450000000000001),
 (131, 2.470000000000002),
 (149, 2.5399999999999996),
 (58, 2.540000000000001),
 (114, 2.6100000000000017),
 (85, 2.65),
 (105, 2.9299999999999997),
 (117, 2.9400000000000017),
 (91, 3.030000000000001),
 (83, 3.0599999999999996),
 (72, 3.0600000000000005),
 (63, 3.070000000000001),
 (101, 3.130000000000001),
 (142, 3.130000000000001),
 (74, 3.2099999999999995),
 (78, 3.29),
 (121, 3.490000000000002),
 (97, 3.57),
 (134, 3.670000000000001),
 (73, 3.700000000000001),
 (122, 3.7000000000000024),
 (113, 3.7199999999999998),
 (61, 3.859999999999999),
 (66, 4.280000000000001),
 (68, 4.319999999999999),
 (119, 4.41),
 (87, 4.43),
 (71, 4.5),
 (118, 4.530000000000002),
 (55, 4.6899999999999995),
 (84, 4.959999999999999),
 (96, 4.989999999999999),
 (95, 5.109999999999999),
 (99, 5.33),
 (88, 5.360000000000001),
 (94, 5.620000000000001),
 (92, 5.86),
 (82, 5.9),
 (67, 6.020000000000001),
 (90, 6.07),
 (64, 6.74),
 (89, 6.75),
 (62, 6.859999999999999),
 (69, 7.170000000000002),
 (53, 7.23),
 (59, 7.459999999999999),
 (106, 7.499999999999998),
 (80, 7.98),
 (79, 8.059999999999999),
 (81, 8.54),
 (98, 11.99),
 (93, 12.02),
 (60, 12.21),
 (57, 12.219999999999999),
 (18, 18.689999999999998),
 (44, 19.1),
 (5, 19.299999999999997),
 (23, 20.06),
 (20, 20.129999999999995),
 (15, 20.259999999999998),
 (31, 20.649999999999995),
 (43, 20.709999999999997),
 (24, 21.33),
 (10, 21.499999999999996),
 (26, 21.539999999999996),
 (21, 21.79),
 (48, 21.869999999999997),
 (46, 21.99),
 (16, 22.18),
 (33, 22.229999999999997),
 (19, 22.25),
 (27, 22.259999999999998),
 (14, 22.619999999999997),
 (36, 22.63),
 (39, 22.7),
 (25, 22.739999999999995),
 (17, 22.95),
 (32, 22.97),
 (28, 23.019999999999996),
 (7, 23.129999999999995),
 (11, 23.339999999999996),
 (0, 23.4),
 (30, 23.549999999999997),
 (34, 23.789999999999996),
 (4, 23.819999999999997),
 (49, 23.909999999999997),
 (29, 23.949999999999996),
 (40, 24.13),
 (9, 24.259999999999998),
 (1, 24.629999999999995),
 (45, 24.65),
 (37, 24.739999999999995),
 (3, 25.259999999999998),
 (6, 25.330000000000002),
 (35, 25.499999999999996),
 (12, 25.57),
 (47, 25.9),
 (2, 26.14),
 (8, 27.309999999999995),
 (42, 27.729999999999997),
 (38, 27.93),
 (41, 28.26),
 (22, 28.86),
 (13, 30.529999999999994)]

In [7]:
kNearestNeighbours = distKeys[:k]
kNearestNeighbours

[(141, 0.38),
 (139, 0.5900000000000003),
 (120, 0.6500000000000006),
 (145, 0.6600000000000003),
 (144, 0.7000000000000008),
 (140, 0.76),
 (112, 0.8400000000000005),
 (124, 0.8600000000000008),
 (115, 0.8799999999999997),
 (110, 0.9000000000000001)]

In [8]:
classes = list(set(target_values))
classes

['Virginica', 'Versicolor', 'Setosa']

In [9]:
# voting
votes = dict()

for class_ in classes:
    votes[class_] = 0

for i in range(k):
    label = str(target_values[kNearestNeighbours[i][0]])
    votes[label] = votes.get(label, 0) + 1

print(votes)
print("The given test set belongs to \"" + max(votes) + "\"")

{'Virginica': 10, 'Versicolor': 0, 'Setosa': 0}
The given test set belongs to "Virginica"